

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    
    
}


.container{
    background-color: #f8d831;
    padding-top: 1.5em ;
   
}

.main-container {
    
    width: 80%;
    padding: 0 0px 10px 15px;
    margin: 0px auto;
}
/*-----------------------Navigation------------------------*/

header {
    
    padding: 10px;
     /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    margin: 0 auto;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content:space-between;
    
}


.head-container{
    z-index: 9;
    overflow: hidden;
    background-color: #f8d831;
    width: 100%;
   align-items: center;
    position: fixed;
    margin: 0;
    padding: 10px;
    
    
}
nav{
    width: 45%;
   
    
}
.header-main-container h2{
    margin: 0 10px;
    
}
h2 a {
    text-decoration: none;
    color: black;
}
a.burger i{
    
    font-size: 2em;
    display: none;
}

nav ul{
    
    display: flex;
    justify-content: space-around;
    
}



nav li {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
    list-style: none;
    color: rgb(97, 97, 97);

}



nav a {
    
    text-decoration: none;
    color:  black;   
   
}

nav a:hover{
    color: orange;
}

/*------------------About-------------------*/


.call-container h1{
  
    font-size: 4em;
    line-height: 1;
    margin-top: 2.8em;
    font-weight: 900;
    position: relative;
}



.grid-2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

.call-action-text{   
    margin-top: 2.5em;
    padding-right: 2em; 
}



.call-action-text h2{
    margin-bottom: 1px; 
    font-size: 1.8em;
    color: rgb(73, 73, 73);
}

.call-action-text p{
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 0;
}

.call-action-image{    
    margin-top: -9em;
    height:650px;
}

form{
    margin-top: 2em;
}

.call-action-text input {
    width: 60%;
    box-shadow:  0px 3px 10px rgba(0,0,0,0.2);
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    

}
input[type=submit]{
    width: 27%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-weight: 600;
}

/*---------------Features---------------*/

.features-container{
    margin: 3em 0 6em 0;
}

.features-container h2 {
    margin: 1.8em 0;
    font-weight: 700;
    font-size: 1.7em;
    color: black;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}

.card{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    box-shadow:  0px 3px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    transition: all .5s ease;
    
}

.card:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease;
}

.card h3{
    margin-bottom: 1.2em;
    font-size: 1.5em;
    
}

.card i {
    background-color: rgb(248, 248, 248);
    margin-bottom: 20px;
    font-size: 3em;
    color: #f8d831;
}
.card p{
    
    padding: 1.2em;
  
}





/*--about container show---*/

.about-container{
    margin: 4em auto;    
}

.about-container-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px; 
}

.about-container h1{
   
    margin: 1.2em 0;
    font-weight: 700;
    font-size: 1.7em;
    color: black;
   
}

.about-container p{
    margin: 1.5em 0 3em 0;
    line-height: 2;   
    font-size: 1.2em;
 
    
}

.zookule-image {
    
    width: 560px;
    height: 450px;
    border-radius: 20px;
    object-fit: fill; 
    
}

.zookule-image2{
    width: 430px; height: 450px; object-fit: cover;  border-radius: 20px;
}






/*------Footer------*/
footer{
    
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 1em 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    
    height: 100%;
    
}

.footer-container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    width: 50%;
    margin: 0 auto;
    
}

.footer-container ul li{
    font-size: 2em;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.footer-container p{
    margin-top: 2em;
    margin-left: 25%;
}



/* Responsive */




@media screen and (max-width: 950px) and (min-width:630px){
    .zookule-image {    
        width: 550px;
        height: 350px;
  
    }
    .zookule-image2{
        display: none;
  
    }

    .grid-3{
        display: flex;
        flex-wrap: wrap;
        
    }

    .call-action-text input {
        width: 65%;
    
    }
    input[type=submit]{
        width: 30%;
        
    }

    .call-container h1{
  
        font-size: 2.5em;
        line-height: 1;
        margin-top: 4em;
       
    }
       
    
    .grid-2{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
        
    }
    
    .call-action-text{
        
        margin-top: 2em;
        padding-right: 2em;
    
    }
    
    
    
    .call-action-text h2{
        margin-bottom: 1px; 
        font-size: 1.4em;
        
    }
    
    .call-action-text p{
        font-size: 1em;
        line-height: 1.5;
       
    }
    
    .call-action-image{
       
        object-fit: fill;
        margin-top: -8em;
        width: 150%;
        height:490px;

    }

    .card{
        padding: 20px 20px;
        margin-top: 20px;
    }

    .card p{
        padding: 0.8em;
    }
    .card h3{
        margin-bottom: 1em;
    }
 
}

/* Tablet/Mobile view */
@media screen and (max-width: 631px)and (min-width:100px){

    .container{
  
    }
    .main-container {
    
        width: 90%;
        
        margin: 0px auto;
    }

    header {
  
        width: 95%;
    
        padding: 10px;
        /* Set the navbar to fixed position  */
     
        
    }
    
    .about-container{
        display: flex;
        flex-direction: column;
       
        
    }
    .about-container-info{
        justify-content: center;
    }   
    .about-container h1{
        margin-bottom:20px;
        font-size: 1.3em;
        
    }

    .about-container p{
        font-size: 1em;
    }

    .features-container h2{
        font-size: 1.3em;
        text-align: center;
        
    }
    .card{
        width: 85%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    


    .zookule-image2 {
    
        display: none;
  
    }
    .zookule-image{
       
        
        width: 380px;
        
        height: 350px;
    }
    
.grid-2{
    display: flex;
    height: 350px;

}

    .call-container h1{
  
        font-size: 2.2em;
        line-height: 1;
       margin-top: 1em;
        font-weight: 900;
        position: relative;
    }
    
     
    
    .call-action-text{
        
        margin-top: 2em;
        padding-right: 2em; 
    }
    
    
    
    .call-action-text h2{
        margin-bottom: 1px; 
        font-size: 1.2em;
        color: rgb(73, 73, 73);
    }
    
    .call-action-text p{
        font-size: 0.9em;
        line-height: 1.5;
        margin: 10px 0;
    }
    
    .call-action-image{

        display: none;
       
    }
    .grid-3{
        display: flex;
        flex-direction: column;
    }
    .call-action-text input {
        width: 60%;
    
    }
    input[type=submit]{
        width: 30%;
        
    }
   
    nav{
        width:100%;
    }

    .head-container{
         position: relative;
    }

  

    header{
        display: flex;
        flex-direction: column;
          
       
    }

    
    nav ul{
      
        display: flex;
        flex-direction: column;
        
        width: 100%;
      
    }
 
    

    nav ul li{ 
       display: none;
    }

    a.burger i{
        justify-content: flex-end;
        display: flex;
       
        
    }

}


/* Tablet/Mobile view when hamburger clicked */

@media screen and (max-width: 631px)and (min-width:100px){
    
   

    .burgerMenu.responsive{
        position: relative;
        
       
    }
    .burgerMenu.responsive a.burger{
       
      position: absolute;
      top:0;
      right: 0px;
   
    }

    .burgerMenu.responsive li {
        margin-top: 10px;
        display: flex;
       font-size: 1.2em;

       

        
    }

    nav ul {
       
        
        justify-content: flex-start;
        
    }
    
}

@media screen and (max-width: 1135px) and (min-width:951px){
    .zookule-image {    
        width: 450px;
        height: 350px;
  
    }
    .zookule-image2{
        width: 330px; 
        height: 350px; 
  
    }

    .call-container h1{
  
        font-size: 3em;
        line-height: 1;
        margin-top: 4em;
       
    }
       
    
    .grid-2{
        display: grid;
        grid-template-columns: 4fr 0.5fr;
        gap: 20px;
        
    }
    
    .call-action-text{
        
        margin-top: 2em;
        padding-right: 2em;
    
    }
    
    
    
    .call-action-text h2{
        margin-bottom: 1px; 
        font-size: 1.4em;
        
    }
    
    .call-action-text p{
        font-size: 1em;
        line-height: 1.5;
       
    }
    
    .call-action-image{
        margin-top: -8em;
        height:550px;

    }
    


}